.auth--panel {
	width: 90%;
	max-width: 480px;

	&, * {
		font-size: fs('subhead');
	}

	.panel-body,
	.panel-heading {
		padding: 3em;
		background-color: white;
	}

	.panel-heading {
		display: flex;
		align-items: center;
		font-weight: 700;
		padding: 1.5em 3em;
	}

	.site__name {
		margin-left: 1em;
	}

	.form-group:last-of-type {
		margin-bottom: 0;
	}

	.form-group + .form-group {
		margin-top: 2em;
	}

	.checkbox label {
		padding-left: 24px;
	}

	.checkbox input {
		margin-left: -24px;
	}

	input,
	.btn {
		height: auto;
		padding: 1em 1.25em;
		border: 1px solid $brand-primary;
	}

	input,
	.btn,
	.checkbox {
	}

	.btn {
		background-color: white;
		border: 2px solid $brand-primary;
		color: $brand-primary;
		font-weight: 700;
		letter-spacing: 0.01em;
		text-transform: uppercase;
		font-size: fs('body');

		&:hover {
			background-color: $brand-primary;
			color: white;
		}

	}

	.btn-block {
		text-align: left;
	}
}