body {
    // font-family: 'Lato';
}

.fa-btn {
    margin-right: 6px;
}

.filter-sidebar {
	padding: 0;
}

.container-fluid {
	// padding: 0;
}

.navbar {
	margin-bottom: 0;
	padding-top: 1em;
	padding-bottom: 1em;
}

.heading--border {
	padding-bottom: 1em;
	margin-bottom: 1em;
	border-bottom: 1px solid $black;
}