
#header-less {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 90vh;
	background-color: $off-white;
}

.btn-block {
	.fa {
		float: right;
		padding-top: 2px;
	}
}

.btn-primary:hover {
	background-color: $grey-dark;
}

.inline-block {
	display: inline-block;
}

#newlab-logo {
	color: $black;

	.logo-seg {
		fill: transparent;
	}

	#shape {
		fill: $black;
	}
}

.fa-btn {
    margin-right: 6px;
}

.filter-sidebar {
	padding: 0;
}

.container-fluid {
	// padding: 0;
}

.heading--border {
	padding-bottom: 1em;
	margin-bottom: 1em;
	border-bottom: 1px solid $black;
}

.link--chevron {
	&:after {
		content: ">";
		display: inline-block;
		margin: 0 .5rem;
	}
}