.navbar {
	margin-bottom: 0;
	padding-top: 1em;
	padding-bottom: 1em;

	&-brand {
		display: flex;
		align-items: center;
		color: $black !important;
		font-size: fs('subhead');
		font-weight: 700;

		span + span {
			margin-left: 1em;
		}

		&:hover,
		&:hover #newlab-logo,
		&:hover #newlab-logo #shape {
			color: $link-color !important;
			fill: $link-color;
		}
	}
}

#newlab-logo {
	width: 38px;
}