#app__ratings {
	margin-bottom: 2em;

	li {
		padding: .25em 0;
	}
}

.rating__user {
	display: inline-block;
	width: 45%;
}

.star-rating {
	direction: rtl;
	display: inline-block;

	input {
		display: none;
	}

	label {
		margin-bottom: 0;
		display: inline-block;
		cursor: pointer;
	}

	.label-star {
		color: $grey-medium;

		&:hover,
		&:hover ~ label,
		&.selected {
			color: $black;
		}
	}

	.label-reject {
		margin-left: .5em;
		color: $grey-light;
		
		&.selected,
		&:hover {
			color: red;
		}

		&:hover ~ label {
			color: $grey-light;
		}
	}
}