
#app__ribbon {
	display: flex;
	border-top: 1px solid black;
	border-bottom: 1px solid black;

	.item {
		flex: 1 1 auto;
		padding: 2em;

		& + .item {
			border-left: 1px solid black;
		}
	}
}

.submission {

	&__header {
		padding: 1em 0;
		margin-bottom: 1em;
		border-bottom: 4px solid black;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	&__heading {
		font-size: 2rem;
		font-weight: 700;
		flex: 1 1 auto;
		margin: 0;
		padding: 0;
	}

	&-data {
		border: 4px solid $off-white;
		padding: 1em;

		section + section {
			margin-top: 2em;
		}
	}

	&-ratings {
		padding-right: 0;

		.inner {
			padding: 1em;
			background-color: $off-white;
		}
	}
}

.app__extra {
	padding: 2em;
	background-color: $off-white;

	.pull-left {
		padding-right: 2em;
	}
}

.app__links {
	max-width: 70%;

	a {
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.app__texts {
	.text {
		margin-bottom: 2em;

		p {
			color: $grey-dark;
		}
	}

	.text-heading {
		font-weight: 900;
		font-size: 1em;
		padding-bottom: 0;
		margin-bottom: .5em;
	}
}

.submission-filters {

	li + li a {
		border-top: 2px solid white;
	}

	a {
		color: black;
		text-decoration: none;
		background-color: $off-white;
		display: block;
		padding: 1.5em 2em;
		font-weight: bold;
		// border-right: 1px solid $grey-light;

		&.active {
			background-color: $grey-light;
		}

		&:hover {
			color: white;
			background-color: black;
		}

		small {
			display: block;
			font-weight: normal;
		}
	}
}

 .submission-controls {
 	padding-top: .5rem;
 	text-align: right;
 	display: flex;
 	justify-content: flex-end;

	// Posts Per Page
	form .form-group{
		display: flex;
		align-items: center;

		label {
			margin: 0 5px 0 0;
		}
	}

 	& > div {
 		flex: 0 0 auto;

 		& + div { margin-left: 1em;}
 	}

 	.pagination {
 		margin: 0;
 	}

 	.form-inline {
 		display: inline-block;
 	}
 }

 .submission-ratings {
 	.sidebar__footer {
 		padding-top: 1em;
 	}
 }

 .submissions-body {
 	padding: 0;
 }

 #submissions-table {
 	label {
		display: block;
		cursor: pointer;
		margin-bottom: 0;
 	}

 	th input {
 		display: none;
 	}

 	td {
 		width: (75/9 + 0%);

 		&:nth-child(7) {
 			width: 25%;
 		}

 		&:nth-child(8) {
 			border-right: 1px solid white;
 		}

 		&:nth-child(8),
 		&:nth-child(9) {
 			background-color: rgba(0,0,0,0.1);
 		}
 	}
 }
