
#app__ribbon {
	display: flex;
	border-top: 1px solid black;
	border-bottom: 1px solid black;

	.item {
		flex: 1 1 auto;
		padding: 2em;

		& + .item {
			border-left: 1px solid black;
		}
	}
}

#app__ratings {
	li {
		padding: .25em 0;
	}
}

.submission {

	&__header {
		padding-bottom: 1em;
		margin-bottom: 1em;
		border-bottom: 4px solid black
	}
	
	&__heading {
		font-size: 2rem;
		font-weight: 700;
	}

	&-data {
		border: 4px solid whitesmoke;
		padding: 1em;

		section + section {
			margin-top: 2em;
		}
	}

	&-ratings {
		padding-right: 0;

		.inner {
			padding: 1em;
			background-color: whitesmoke;
		}
	}
}

.app__extra {
	padding: 2em;
	background-color: whitesmoke;

	.pull-left {
		padding-right: 2em;
	}
}

.submission-filters {
	a {
		color: black;
		text-decoration: none;
		background-color: whitesmoke;
		display: block;
		padding: 2em;
		font-weight: bold;
		
		&.active {
			background-color: gainsboro;
		}

		&:hover {
			color: white;
			background-color: black;
		}

		small {
			display: block;
			font-weight: normal;
		}
	}
}

 .submission-controls {
 	text-align: right;
 	display: flex;
 	justify-content: flex-end;

 	& > div {
 		flex: 0 0 auto;

 		& + div { margin-left: 1em;}
 	}

 	.pagination {
 		margin: 0;
 	}

 	.form-inline {
 		display: inline-block;
 	}
 }

 .submissions-body {
 	padding: 0;
 }

 #submissions-table {
 	td {
 		width: (75/9 + 0%);

 		&:nth-child(7) {
 			width: 25%;
 		}

 		&:nth-child(8) {
 			border-right: 1px solid white;
 		}

 		&:nth-child(8),
 		&:nth-child(9) {
 			background-color: rgba(0,0,0,0.1);
 		}
 	}
 }
