@mixin font-size($key) {
	font-size: map-get($font-sizes, $key);
}

h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
}

small {
	font-size: fs('small');
}

.list--pluses {
	li {
		display: inline-block;
		width: 49%;
		padding: .5em 0;

		&:before {
			content: "+";
			display: inline-block;
			width: 1em;
		}
	}
}

.form-group.spaced {
	margin: 2em 0;
}

// fieldset{
// 	margin: 2em 0;
// }

legend {
	margin: 1em 0;
}