$black: black;
$grey-light: darken(rgb(255,255,255), 20%);
$grey-medium: darken(rgb(255,255,255), 30%);
$grey-dark: darken(rgb(255,255,255), 60%);
$blue-grey: #607586;
$tan: #DAEADD;
$off-white: whitesmoke;

$font-sizes: (
	headline: 24px,
	subhead: 14px,
	body: 13px,
	small: 12px,
);