$black: black;
$off-white: #F0F5F8;
$grey-light: darken($off-white, 7%);
$grey-medium: darken(rgb(255,255,255), 30%);
$grey-dark: darken(rgb(255,255,255), 60%);
$blue-grey: #607586;
$tan: #DAEADD;
$red: tomato;

$font-sizes: (
	headline: 24px,
	subhead: 14px,
	body: 13px,
	small: 12px,
);